
:root{
--active-color: #2196F3;
--hover-color: #107ed8;
--title-color: #212121;
--text-color: #757575;
--bg-color: #2F303A;
--white-color: #ffffff;
}
*{
	box-sizing: border-box;
}
*, ::before, ::after{
	box-sizing: border-box;
}
body{

	font-family:'Roboto' ;
	font-style: normal;
	font-size: 16px;
	color: var(--title-color);
	background-color: var(--white-color);
	letter-spacing: 0.03em;
	
}
.container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
/* ! button */
.button{
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--white-color);
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;

	font-weight: 700;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	border: none;
	cursor: pointer;

}
.button:hover, .button:focus{
	background-color: var(--hover-color);
}
/*? button end */
.filter-list{
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	list-style-type: none;
}
.filter{
	border: none;
	font: inherit;
	cursor: pointer;
}
.filter-active, .filter:hover, .filter:focus{
	color: var(--white-color);
	background-color: var(--active-color);
}

/* *font style */
.section-title{
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	margin: 0;
	padding-bottom: 50px;
}

.visually-title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* *font style  end*/

/* ! Header  */
.header{
	display: flex;
	align-items: center;
}
.logo{
margin-right: 93px;
font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
color: #000000;;
line-height: 31px;
font-size: 26px;
text-decoration: none;
}
.logo-first-words{
color: var(--active-color);
}
.logo-second-word{
	color: var(--white-color);
}
.main-nav{
	display: flex;
}
.nav{
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-list{
	padding: 0;
	margin: 0px;
	display: flex;
	list-style-type: none;
}
.nav-list .nav-link + .nav-link {
	margin-left: 20px;

}
.nav-link{
	padding: 32px 0px;
	margin: 0;

}

.link{
	color: var(--title-color);
	text-decoration: none;
}
.link:hover, .link:focus{
	color:var(--hover-color);
}
.link-active{
	color: var(--active-color);
}
.contact-list {
	padding: 0;
	margin: 0;
	margin-left: auto;
	display: flex;
	text-decoration: none;
	list-style-type: none;
}
.contact-link {
	color: var(--text-color);
	text-decoration: none;
}

.contact-list .nav-link + .nav-link{
	margin-left: 50px;
}

/* ? header end  */




/* * main studio */

/* ! hero */
.hero{
	background-color: var(--bg-color);
	text-align: center;
	margin-bottom: 94px;

}
.hero-title{
	margin: 0;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
}

/* !  Peculiarities*/
.peculiarities{
	display: flex;
	padding: 0;
	margin-bottom: 94px;
}
.feature{
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.feature-list{
	width: 270px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.feature-list:nth-child(4n){
	margin-right: 0px;
}
.feature-list:nth-last-child(-n + 4){
	margin-bottom: 0px;
}

.feature-title {
	margin: 0;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.1;
	text-transform: uppercase;
}
.feature-text {
	margin: 0;
	
	font-size: 14px;
	line-height: 1.7;
	color: var(--text-color);
}

 /* ! What are we doing  */
.work{
	margin-bottom: 94px;
}
.applications{
	list-style-type: none;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 0;
}
.applications-list{
	padding: 0;
}
.applications-item{
	padding: 0px;
}

/* ! Our command */
.team {
	background-color: #F5F4FA;
	list-style-type: none;

}

.team-card {
	width: 270px;
	height: 368px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
	border-radius: 0px 0px 4px 4px;
}

.team-card-name {
	font-weight: 500;
	line-height: 1.1;
	text-align: center;
	color: #212121;
}

.team-card-job {
	line-height: 1.1;
	text-align: center;
	color: var(--text-color);
}

/* * main studio end  */

.project-list {
	list-style-type: none;
}

.project {
	width: 370px;
	height: 404px;
}
.project-link{
text-decoration: none;
}
.project-name {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-color);
}

.project-description {
	font-weight: 400;
	line-height: 1.8;
	color: var(--text-color);
}
/* * main portfolio end  */



/* ! footer  */
.footer {
	background-color: var(--bg-color);

}
.addres{
	color:var(--white-color);
}
.addres-list{
	list-style-type: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}
.addres-map{
	text-decoration: none;
	color: var(--white-color);

}
.addres-contact{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
/*? footer end  */
